<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

  </head>

  <body>
<nav>  <ul>
    <li>
    <a href="/auth/logout">Logout</a>
    <a href="/">Homepage</a>
    <a href="/auth/google">google+</a>
    
</li>
</ul> </nav>

</body>

</html>